import(rJava)
import(ROI)
import(ROI.plugin.glpk)
import(RXMCDA)
export(findAllRankRelatedPreferentionalReductsHierarchical)
export(findAllRankRelatedPreferentionalReducts)
export(findExtremeRanksHierarchical)
export(findExtremeRanks)
export(findNecessaryAndPossiblePreferenceRelationsHierarchical)
export(findNecessaryAndPossiblePreferenceRelations)
export(findPreferentionalReductsForNecessaryRelationsHierarchical)
export(findPreferentionalReductsForNecessaryRelations)
export(findMissingOrRedundantUtilityValueForRankPosition)
export(findMissingOrRedundantUtilityValueForRankPositionHierarchical)
export(findMissingOrRedundantUtilityValueForRelation)
export(findMissingOrRedundantUtilityValueForRelationHierarchical)
export(findNecessaryRankRelatedPerformanceModification)
export(findNecessaryRankRelatedPerformanceModificationHierarchical)
export(findPerformanceModificationForNecessaryRelation)
export(findPerformanceModificationForNecessaryRelationHierarchical)
export(findPerformanceModificationForPossibleRelation)
export(findPerformanceModificationForPossibleRelationHierarchical)
export(findPossibleRankRelatedPerformanceModification)
export(findPossibleRankRelatedPerformanceModificationHierarchical)
