import(rJava)
import(ROI)
import(ROI.plugin.glpk)
import(RXMCDA)
export(findAllRankRelatedPreferentionalReductsHierarchical)
export(findAllRankRelatedPreferentionalReducts)
export(findExtremeRanksHierarchical)
export(findExtremeRanks)
export(findNecessaryAndPossiblePreferenceRelationsHierarchical)
export(findNecessaryAndPossiblePreferenceRelations)
export(findPreferentionalReductsForNecessaryRelationsHierarchical)
export(findPreferentionalReductsForNecessaryRelations)
